<div class="jumbotron">
  <div class="container">
    <h2 class="pcpl-center"> New Painting</h2>
    <div class="pcpl-content pcpl-display-container">
      <%= render 'form', painting: @painting %>
    </div>
    <%= link_to 'Back', paintings_path %>
  </div>
</div>